In [3]:
import pandas
pandas.__version__

'0.23.4'

In [7]:
#Pandas Series is one dimensional array of indexed data
#Constructing Series Object
# eg: pd.Series(data, index=index) where the index is optional
import pandas as pd
data = pd.Series([0.25,0.5,0.75,1.0])
data

0    0.25
1    0.50
2    0.75
3    1.00
dtype: float64

In [2]:
data.values

array([0.25, 0.5 , 0.75, 1.  ])

In [3]:
data.index

RangeIndex(start=0, stop=4, step=1)

In [13]:
data[1]

0.5

In [16]:
#Custom Indexing
data = pd.Series([0.25,0.5,0.75,1.0], index=['a','b','c','d'])
data

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64

In [8]:
data = pd.Series([0.25,0.5,0.75,1.0], index=[2,3,5,7])
data

2    0.25
3    0.50
5    0.75
7    1.00
dtype: float64

In [9]:
#Pandas Series as Specialized Array
population_dict = {'Ranchi':2323232,'Bhagalpur':813210022,'Delhi':2324564897,'Pune':21564346}
population = pd.Series(population_dict)
population

Ranchi          2323232
Bhagalpur     813210022
Delhi        2324564897
Pune           21564346
dtype: int64

In [10]:
population['Pune']

21564346

In [11]:
#Fetching the Range of data
population['Ranchi':'Delhi']

Ranchi          2323232
Bhagalpur     813210022
Delhi        2324564897
dtype: int64

In [12]:
pd.Series(5, index=[100,200,300])

100    5
200    5
300    5
dtype: int64

In [30]:
pd.Series({2:'a',1:'b',3:'c'})

2    a
1    b
3    c
dtype: object

In [33]:
#index can be explicitely set if different result is preferred
pd.Series({2:'a',1:'b',3:'c'}, index=[3,2])

3    c
2    a
dtype: object

In [34]:
#Dataframe Objects (can be though of as generialization of numpy array or specialization of python dictionary)

In [13]:
area_dict = { 'Ranchi':423967,'Bhagalpur':4564554,'Delhi':141297,'Pune':170312}
area = pd.Series(area_dict)
area

Ranchi        423967
Bhagalpur    4564554
Delhi         141297
Pune          170312
dtype: int64

In [14]:
#Combining the two series population and area to consturct the dictionary, (DataFrame m)
states = pd.DataFrame({'population':population,'area':area})
states

           population     area
Ranchi        2323232   423967
Bhagalpur   813210022  4564554
Delhi      2324564897   141297
Pune         21564346   170312

In [15]:
states.index

Index(['Ranchi', 'Bhagalpur', 'Delhi', 'Pune'], dtype='object')

In [16]:
states.columns

Index(['population', 'area'], dtype='object')

In [17]:
states['population']

Ranchi          2323232
Bhagalpur     813210022
Delhi        2324564897
Pune           21564346
Name: population, dtype: int64

In [19]:
#Construction DataFrame Objects
pd.DataFrame(population, columns=['population'])

           population
Ranchi        2323232
Bhagalpur   813210022
Delhi      2324564897
Pune         21564346

In [20]:
import numpy as np
x = pd.DataFrame(np.random.rand(3,2), columns=['foo','bar'],index=['a','b','c'])
x

        foo       bar
a  0.368649  0.089122
b  0.524759  0.344860
c  0.234366  0.422747